@charset "UTF-8";
/* CSS Document */

.bun-top {
  height: 70px;
  width: 60%;
  background: #E87D13;
  border-radius: 100px 100px 20px 20px;
  border-bottom: solid 10px rgba(0,0,0,.1);
}

.cheese {
  height: 15px;
  width: 65%;
  background: #F3E109;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.tomato {
  height: 25px;
  width: 50%;
  background-color: #F31309;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.meatball {
  height: 55px;
  width: 65px;
  background: #804A48;
  border-radius: 50px;
  display: inline-block;
  vertical-align: top;
}

.patty {
  height: 30px;
  width: 60%;
  background: #C89662;
  border-radius: 15px;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.pickle {
  height: 40px;
  width: 55%;
  background: #21E813;
  border-radius: 0 0 100px 100px;
  border-bottom: solid 10px #2d9961;
}

.onion {
  width: 40%;
  background-color: #E81396;
  border-top: dotted 20px rgba(255,255,255,.2);
}

.bun-bottom {
  height: 35px;
  width: 60%;
  background: #E87D13;
  border-radius: 20px 20px 40px 40px;
  border-top: solid 8px rgba(0,0,0,.1)
}

.plate {
  height: 25px;
  width: 80%;
  background: #131EE8;
  border-radius: 20px 20px 200px 200px;
}
